html, body {
  height: 100%;
  width: 100%;
}

@media screen and (prefers-reduced-motion: no-preference) {
html, body {
  scroll-behavior: smooth;
  }
}

body {
  background-image: url(images/mountain-edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.testbox {
  background-color: red;
  height: 100px;
  width: 100px;
}

/* Landing Content*/

/* Navigation Links */

.link-container {
  color: #8B8F8E;
  display: flex;
  position: absolute;
  right: 10vh;
  top: 2vh;
  z-index: 3;
}

.link-container .icon {
  font-size: 3rem;
  padding: 13px;
  z-index: 3;
}

.link-container .linkedin-icon {
  animation: nav-slide 1.8s forwards, fadein 1.8s forwards, unBold 1.8s;
  animation-delay: 3.6s;
  opacity: 0;
}
.link-container .github-icon {
  animation: nav-slide 1.8s forwards, fadein 1.8s forwards, unBold 1.8s;
  animation-delay: 3.7s;
  opacity: 0;
}
.link-container .resume-icon {
  align-self: center;
  animation: nav-slide 1.8s forwards, fadein 1.8s forwards, unBold 1.8s;
  animation-delay: 3.8s;
  font-size: 2.75rem;
  opacity: 0;
}

.link-content {
  transition: color 0.5s ease-in-out, transform 1.3s ease-out;
}
.link-content:hover {
  animation-fill-mode: forwards;
  color: #25731F;
  transform: scale(1.05);
}

@keyframes nav-slide {
  0% { transform: translateY(-10vh) translateX(0vh);  }
  60% {transform: translateY(1.5vh) translateX(0vh); }
  100% { transform: translateY(0vh) translateX(0vh); }
}

.intro-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.intro-container h1, .intro-container h2, .intro-container h3 {
  padding: 1px;
  font-family: 'Amatic SC', cursive;
}

.intro-container h1 {
  /* font-size: 80px; */
  animation: fadein 4s, zoomin 4s forwards;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 7.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  opacity: 0;
  white-space: nowrap;
}

.intro-container h2 {
  animation: fadein 4s, move-up 1.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  font-size: 59px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top:0;
  opacity: 0;
}

.intro-li-1 {
  animation: fadein 2s;
  animation-delay: 2.0s;
  animation-fill-mode: forwards;
  /* font-size: 25px; */
  font-size: 42px;
  opacity: 0;
}

.intro-li-2{
  animation: fadein 2s;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
  /* font-size: 25px; */
  font-size: 42px;
  opacity: 0;
}

.intro-li-3{
  animation: fadein 2s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
  /* font-size: 25px; */
  font-size: 42px;
  opacity: 0;
}

.arrow-down-intro {
  animation: fadein 2s, arrow-mover 1s infinite  alternate;
  -webkit-animation: fadein 2s, arrow-mover 1s infinite  alternate;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  color: black;
  font-size: 28px;
  opacity: 0;
}

.arrow-down-anchor {
  z-index: 3;
}

/* Sky Content */

/* Middle bird */
.bird {
  animation-delay: -0.5s;
	animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  background-image: url("images/bird-flying.gif");
  background-size: auto 100%;
  height: 78px;
  width: 90px;
}

/* Lower bird */
.bird2 {
  animation-delay: -0.5s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  background-image: url("images/bird-flying.gif");
  background-size: auto 100%;
  height: 74px;
  width: 85px;
}

/* Higher bird */
.bird3 {
  animation-delay: -0.8s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  background-image: url("images/bird-flying.gif");
  background-size: auto 100%;
  height: 69px;
  width: 80px;
}


.bird-container {
  animation-delay: 3.7s;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  position: absolute;
  left: -10%;
	top: 20%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
  z-index: 1;
}

.bird-container-2{
  animation-delay: 15s;
  animation-duration: 23s;
  animation-iteration-count: infinite;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  position: absolute;
  left: -10%;
	top: 39%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
  z-index: 1;
}
.bird-container-3{
  animation-delay: 7.5s;
  animation-duration: 30s;
  animation-name: fly-right-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  left: -10%;
	top: 5%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
  z-index: 1;
}

.cloud {
  animation-delay: -0.8s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  background-image: url("images/cloud.png");
  background-size: auto 100%;
  height: 503px;
  width: 1079px;
  opacity: .5;
}

.cloud2 {
  animation-delay: -0.8s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);
  background-image: url("images/cloud2-rotate.png");
  background-size: auto 100%;
  height: 503px;
  width: 1079px;
  opacity: .9;
}

.cloud-container {
  animation-delay: 2s;
  animation-duration: 48s;
  animation-iteration-count: infinite;
  animation-name: cloudfloat-left;
  animation-timing-function: linear;
  position: absolute;
	top: 74%;
	left: 110%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
  z-index: 2;
}

.cloud-container-2 {
  animation-delay: 2.0s;
  animation-duration: 53s;
  animation-iteration-count: infinite;
  animation-name: cloudfloat-right;
  animation-timing-function: linear;
  position: absolute;
	top: 14%;
	left: -20%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
  z-index: 2;
}

/* Sky Animtations */

@keyframes fly-right-one {

	0% {
		transform: scale(0.3) translateX(-10vw);
	}

	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}

	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}

	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}

	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}

	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}

	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}

	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);

	}

}

@keyframes cloudfloat-right {
  0% {
    transform: translateY(0vh) translateX(-100vh) scale(1.3);
  }
  100% {
    transform: translateY(0vh) translateX(220vh) scale(1.4);
  }
}

@keyframes cloudfloat-left {
  0% {
    transform: translateY(0vh) translateX(50vh) scale(1.3);
  }
  50% {
    transform: translateY(1.5vh) translateX(-145vh) scale(1.8);
  }
  100% {
    transform: translateY(3vh) translateX(-390vh) scale(2.4);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomin {
    0% {
        transform: scale(.9,.9);
    }
    50% {
        transform: scale(1.03,1.03);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes move-up {
  0% { transform: translateY(30px); }
  100% { transform: translateY(0); }
}

@-webkit-keyframes arrow-mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(15px); }
}

@keyframes arrow-mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(15px); }
}

/* Audio CSS */

.audio-container {
  align-items: center;
  color: #8B8F8E;
  display: flex;
  font-size: 30px;
  justify-content: center;
  position: absolute;
  right: 10vh;
  top: 90vh;
  transition: color 0.5s ease-in-out, transform 1.3s ease-out;
  z-index: 3;
}

.audio-container:hover {
  animation-fill-mode: forwards;
  color: #25731F;
  transform: scale(1.05);
}

.audio-container .audio {
  animation: slide 1.8s forwards, fadein 1.8s forwards, unBold 1.8s;
  animation-delay: 4.0s;
  font-size: 30px;
  opacity: 0;
}
.audio-container p {
animation: slide 1.8s forwards, fadein 1.8s forwards, unBold 1.8s;
animation-delay: 4.5s;
font-size: 20px;
margin-left: 7px;
margin-top: 19px;
opacity: 0;
}

@keyframes slide {
  0% { transform: translateY(0vh) translateX(50vh);  }
  60% { transform: translateY(0vh) translateX(-1.5vh); }
  100% { transform: translateY(0vh) translateX(0vh); }
}

@keyframes unBold {
  0% { color: #353838;  }
  60% { color: #353838; }
  100% { color: #8B8F8E; }
}
 /* 766x505 */

/* About Section */

.about-container {
  align-items: center;
  background-image: url("images/mount.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  /* height: 600px; */
  min-height: 100vh;
  /* z-index: 3; */
}

.about-content {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: auto;
  max-height: 485px;
  min-width: 59.9rem;
  max-width: 61.5rem;
  width: 60%;
  /* margin-left: 14vh; */
  opacity: 0;
  z-index: 3;
}

.about-content:hover {
  transform: scale(1.2);
}

.about-content.animate {
  animation: move-up 1.2s, fadein 1.2s forwards;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

#me-jpg {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 100%;
  max-height: 485px;
  max-width: 322px;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  padding: 10px;
}

.about-text h1 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.about-text p {
  font-size: 1.2rem;
  margin-right: .5rem;
  width: 90%;
}

.about-hobbies {
  color: #90908c;
  font-size: 1.1rem;
  margin-right: .5rem;
  width: 90%;
}

.arrow-down-about {
  animation: arrow-mover 1s infinite  alternate;
  -webkit-animation: arrow-mover 1s infinite  alternate;
  animation-fill-mode: forwards;
  color: black;
  font-size: 28px;
  text-align: center;
  width: 60%;
}

/* Projects Section */

.projects-container {
  align-items: center;
  background-image: url('images/stone.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 800px;
  width: auto;
  text-align: center;
}

.heading-flex {
display: flex;
flex-direction: column;
text-align: center;
}

#projects-h1 {
  color: white;
  margin-top: 3rem;
}

.projects-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 35rem;
  width: 25rem;
  margin: 3rem;
  transition: transform .3s ease-in-out;
}

.project:hover {
  transform: scale(1.2);
}

.project-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 60%;
  width: 100%;
}

.project .text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project h1 {
  margin-top: 1.3rem;
  text-align: center;
}

.project p {
  text-align: center;
  width: 90%;
}
.footer {
  align-items: center;
  background-color: #101010;
  color: white;
  display: flex;
  justify-content: center;
  position: static;
  height: 4rem;
  width: auto;
}

@media screen and (max-width: 1425px) {
  .project {
    height: 28rem;
    width: 18rem;
  }
  .project h1{
    font-size: 1.5rem;
  }
  .project p{
    font-size: .7rem;
  }
}

@media screen and (max-width: 700px) {
  .intro-container h1 {
    font-size: 5.7rem;
    }
  .link-container {
    position: inherit;
    }

  .audio-container {
    margin-top: 2rem;
    position: inherit;
    }

  .about-container{
    }

  .about-content {
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
  }

  #me-jpg {
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .about-text {
    background-color: white;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  .about-text h1 {
    font-size: 2rem;
    width: auto;
  }

  .about-text p {
    font-size: 2.3vw;
    width: auto;
    margin-right: 0;
  }

  .about-hobbies {
    font-size: 2vw;
    color: #90908c;
    width: 50%;
  }
  .arrow-down-about {
    font-size: 1.5rem;
    width: 100%;
  }
  #projects-h1{
    font-size: 1.5rem;
  }
  .projects-row {
    display: block;
    min-height: 0;
    flex-direction: column;
  }
  .projects-container {
    height: fit-content;
  }
  .project {
    height: 35rem;
    width: 25rem;
  }
  .project h1{
    font-size: 2rem;
  }
  .project p{
    font-size: 1rem;
  }
  .heading-flex:{
    min-height: 0;
  }
}
